<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Reddit Clone 2023</span>
        <span class="text-muted"> by Rahul Gour</span>
    </div>
</footer>