<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Reddit Logo (You can replace this with your own logo) -->
      <a class="navbar-brand" href="/posts">
        <img src="https://www.iconpacks.net/icons/2/free-reddit-logo-icon-2436-thumb.png" alt="Reddit Logo" height="30">
      </a>
      <!-- Navbar Toggler Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
          <a class="nav-link" href="/posts/popular">Popular</a>
          <a class="nav-link" href="/posts">All</a>
          <a class="nav-link" href="/posts/random">Random</a>
          <a class="nav-link" href="/posts/new">New Post</a>
        </div>
      </div>
      <!-- Search Bar -->
      <form class="d-flex" action="/posts/search" method="GET"> <!-- Updated action attribute -->
        <input class="form-control me-2" type="search" name="community" placeholder="Search Communities!" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
      

    <div class="navbar-nav ms-auto">
      <% if(!currentUser) {%>
      <a class="nav-link" href="/login">Login</a>
      <a class="nav-link" href="/register">Register</a>
      <% } else {%>
      <a class="nav-link" href="/logout">Logout</a>
      <% } %>
  </div>
  </nav>